# เราจะหาหุ้นที่ Growth สูงสุด และ ความเสี่ยงต่ำสุด (SD) ในระยะเวลา 1 ปี
(1 ก.ค.62-30 มิ.ย.63) โดยมีการดึงข้อมูลย้อนหลังจาก Yahoo และเลือกหุ้นจาก SET50 เนื่องจากมีสภาพคล่องดีกว่า SET

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Python/Project/What should I buy in stocks market(SET)/SET50.csv')

In [3]:
stock = df['Symbol']

เนื่องจากข้อมูลหุ้นใน Yahoo จะมีคำว่า .BK ต่อท้าย ดังนั้นเราจึงต้องเพิ่ม +'.BK' เข้าไปในหุ้นทุกตัว

In [4]:
stock = stock+'.BK'

In [5]:
pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\golf4\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: lxml in c:\users\golf4\anaconda3\lib\site-packages (from pandas-datareader) (4.5.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\golf4\anaconda3\lib\site-packages (from pandas-datareader) (2.22.0)
Requirement already satisfied: pandas>=0.23 in c:\users\golf4\anaconda3\lib\site-packages (from pandas-datareader) (1.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\golf4\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\golf4\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\golf4\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\golf4\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.8)
Requirement already satisfied: numpy>=1.13.3 in c:\users\golf4\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\golf4\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\golf4\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\golf4\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas-datareader) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
stock

0     ADVANC.BK
1        AOT.BK
2        AWC.BK
3        BBL.BK
4       BDMS.BK
5        BEM.BK
6      BGRIM.BK
7         BH.BK
8        BJC.BK
9        BPP.BK
10       BTS.BK
11       CBG.BK
12     CPALL.BK
13       CPF.BK
14       CPN.BK
15       CRC.BK
16      DTAC.BK
17        EA.BK
18      EGCO.BK
19    GLOBAL.BK
20      GPSC.BK
21      GULF.BK
22     HMPRO.BK
23    INTUCH.BK
24      IRPC.BK
25       IVL.BK
26     KBANK.BK
27       KTB.BK
28       KTC.BK
29        LH.BK
30      MINT.BK
31       MTC.BK
32       OSP.BK
33       PTT.BK
34     PTTEP.BK
35     PTTGC.BK
36     RATCH.BK
37     SAWAD.BK
38       SCB.BK
39       SCC.BK
40      TCAP.BK
41     TISCO.BK
42       TMB.BK
43       TOA.BK
44       TOP.BK
45      TRUE.BK
46       TTW.BK
47        TU.BK
48       VGI.BK
49       WHA.BK
Name: Symbol, dtype: object

In [8]:
from pandas_datareader import data as wb

In [176]:
tickers = [stock]
mydata = pd.DataFrame()
for t in tickers :
    mydata = wb.DataReader(t, data_source='yahoo', start = '2019-07-01', end = '2020-06-30')['Adj Close']

C:\Users\golf4\anaconda3\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'SAWAD.BK', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\golf4\anaconda3\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'SCB.BK', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\golf4\anaconda3\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'SCC.BK', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\golf4\anaconda3\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'TOA.BK', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [183]:
# จากการดึงข้อมูลไม่พบ หุ้น SAWAD SCB SCC TOA เราจะทำการดึงหุ้นเหล่านี้เพิ่มในภายหลังครับ
mydata.head()

Symbols,ADVANC.BK,AOT.BK,AWC.BK,BBL.BK,BDMS.BK,BEM.BK,BGRIM.BK,BH.BK,BJC.BK,BPP.BK,...,TOP.BK,TRUE.BK,TTW.BK,TU.BK,VGI.BK,WHA.BK,SAWAD.BK,SCB.BK,SCC.BK,TOA.BK
Date,,,,,,,,,,,,,,,,,,,,,
2019-07-01,205.774811,73.203522,NaN,187.902588,25.383766,11.118161,35.896011,160.308304,49.694859,20.844778,...,66.784813,5.608088,13.420690,17.789103,9.120423,4.501695,NaN,NaN,NaN,NaN
2019-07-02,204.808716,72.957047,NaN,186.955963,25.139692,10.923106,35.153336,162.708130,48.960453,21.517189,...,66.297333,5.511397,13.420690,17.789103,9.021823,4.463219,NaN,NaN,NaN,NaN
2019-07-03,205.774811,73.942955,NaN,186.955963,25.139692,11.020634,35.153336,162.708130,48.960453,22.189604,...,64.591156,5.511397,13.516552,17.691896,9.071123,4.597885,NaN,NaN,NaN,NaN
2019-07-04,204.808716,73.203522,NaN,186.009354,25.139692,11.020634,34.410660,163.668076,48.470844,21.036896,...,63.616196,5.414706,13.612413,17.789103,9.219024,4.424743,NaN,NaN,NaN,NaN
2019-07-05,203.842636,73.696480,NaN,186.482651,25.139692,11.020634,35.648453,164.627991,48.715652,21.229013,...,64.834892,5.559743,13.420690,17.789103,9.268322,4.501695,NaN,NaN,NaN,NaN

In [186]:
# ลบช้อมูล NA ที่ดึงไม่ได้ และไม่มีข้อมูลทิ้ง หุ้น AWC ขายใน SET วันแรก 10/10/62 และ หุ้น CRC ขายใน SET วันแรก 20/02/63 
# จึงทำให้มีข้อมูลไม่เพียงพอต่อการคำนวณ เราจึงจะตัด 2 ตัวนี้ทิ้งไป
mydata = mydata.dropna(axis='columns')

In [319]:
mydata.tail()

Symbols,ADVANC.BK,AOT.BK,BBL.BK,BDMS.BK,BEM.BK,BGRIM.BK,BH.BK,BJC.BK,BPP.BK,BTS.BK,...,RATCH.BK,TCAP.BK,TISCO.BK,TMB.BK,TOP.BK,TRUE.BK,TTW.BK,TU.BK,VGI.BK,WHA.BK
Date,,,,,,,,,,,,,,,,,,,,,
2020-06-24,188.0,59.75,107.5,22.299999,9.70,51.50,114.0,38.75,16.700001,11.237143,...,63.50,36.50,70.50,1.06,43.75,3.56,13.6,12.3,7.433329,3.34
2020-06-25,187.5,59.00,109.0,22.000000,9.55,52.75,112.0,39.25,16.600000,11.040000,...,63.25,36.25,70.25,1.06,43.25,3.50,13.6,12.3,7.333552,3.24
2020-06-26,186.0,59.00,108.0,22.000000,9.50,53.75,113.5,39.50,16.500000,11.040000,...,62.25,36.00,71.00,1.05,42.75,3.46,13.5,12.4,7.433329,3.22
2020-06-29,187.0,59.25,108.0,22.000000,9.50,53.50,113.0,39.50,16.900000,11.138572,...,62.50,36.25,70.50,1.04,42.75,3.38,13.4,12.7,7.483217,3.24
2020-06-30,185.0,60.50,107.0,22.500000,9.50,53.50,116.5,39.50,16.700001,11.138572,...,62.25,35.50,69.50,1.05,44.25,3.40,13.2,12.9,7.483217,3.32

In [188]:
# ดึงข้อมูลเพิ่มใน หุ้น SAWAD SCB SCC TOA เราจะทำการดึงหุ้นเหล่านี้เพิ่มในภายหลังครับ
tickers_2 = [['SAWAD.BK','SCB.BK','SCC.BK','TOA.BK']]
mydata2 = pd.DataFrame()
for t in tickers_2 :
    mydata2 = wb.DataReader(t, data_source='yahoo', start = '2019-07-01', end = '2020-06-30')['Adj Close']

In [189]:
mydata2.head()

Symbols      SAWAD.BK      SCB.BK      SCC.BK     TOA.BK
Date
2019-07-01  54.126480  131.013184  456.219604  36.457054
2019-07-02  53.189224  131.013184  454.294647  36.212376
2019-07-03  53.423534  131.477768  452.369659  38.169796
2019-07-04  52.486279  129.154831  450.444672  38.414478
2019-07-05  52.720596  128.690247  444.669769  39.882545

In [190]:
# ทำการรวมข้อมูล จะได้ทั้งหมด 48 ตัว ตัด 2 ตัวทิ้งเพราะข้อมูลไม่เพียงพอต่อสมมติฐานตั้งต้นครับ
alldata_1 = pd.merge(mydata,mydata2,on='Date')

In [191]:
alldata_1.head()

Symbols,ADVANC.BK,AOT.BK,BBL.BK,BDMS.BK,BEM.BK,BGRIM.BK,BH.BK,BJC.BK,BPP.BK,BTS.BK,...,TOP.BK,TRUE.BK,TTW.BK,TU.BK,VGI.BK,WHA.BK,SAWAD.BK,SCB.BK,SCC.BK,TOA.BK
Date,,,,,,,,,,,,,,,,,,,,,
2019-07-01,205.774811,73.203522,187.902588,25.383766,11.118161,35.896011,160.308304,49.694859,20.844778,11.384570,...,66.784813,5.608088,13.420690,17.789103,9.120423,4.501695,54.126480,131.013184,456.219604,36.457054
2019-07-02,204.808716,72.957047,186.955963,25.139692,10.923106,35.153336,162.708130,48.960453,21.517189,11.760919,...,66.297333,5.511397,13.420690,17.789103,9.021823,4.463219,53.189224,131.013184,454.294647,36.212376
2019-07-03,205.774811,73.942955,186.955963,25.139692,11.020634,35.153336,162.708130,48.960453,22.189604,11.760919,...,64.591156,5.511397,13.516552,17.691896,9.071123,4.597885,53.423534,131.477768,452.369659,38.169796
2019-07-04,204.808716,73.203522,186.009354,25.139692,11.020634,34.410660,163.668076,48.470844,21.036896,11.760919,...,63.616196,5.414706,13.612413,17.789103,9.219024,4.424743,52.486279,129.154831,450.444672,38.414478
2019-07-05,203.842636,73.696480,186.482651,25.139692,11.020634,35.648453,164.627991,48.715652,21.229013,11.855008,...,64.834892,5.559743,13.420690,17.789103,9.268322,4.501695,52.720596,128.690247,444.669769,39.882545

In [192]:
# หรืออีกวิธีในการรวมข้อมูลตาราง
alldata_2= pd.concat([mydata, mydata2], axis=1)

In [193]:
alldata_2.head()

Symbols,ADVANC.BK,AOT.BK,BBL.BK,BDMS.BK,BEM.BK,BGRIM.BK,BH.BK,BJC.BK,BPP.BK,BTS.BK,...,TOP.BK,TRUE.BK,TTW.BK,TU.BK,VGI.BK,WHA.BK,SAWAD.BK,SCB.BK,SCC.BK,TOA.BK
Date,,,,,,,,,,,,,,,,,,,,,
2019-07-01,205.774811,73.203522,187.902588,25.383766,11.118161,35.896011,160.308304,49.694859,20.844778,11.384570,...,66.784813,5.608088,13.420690,17.789103,9.120423,4.501695,54.126480,131.013184,456.219604,36.457054
2019-07-02,204.808716,72.957047,186.955963,25.139692,10.923106,35.153336,162.708130,48.960453,21.517189,11.760919,...,66.297333,5.511397,13.420690,17.789103,9.021823,4.463219,53.189224,131.013184,454.294647,36.212376
2019-07-03,205.774811,73.942955,186.955963,25.139692,11.020634,35.153336,162.708130,48.960453,22.189604,11.760919,...,64.591156,5.511397,13.516552,17.691896,9.071123,4.597885,53.423534,131.477768,452.369659,38.169796
2019-07-04,204.808716,73.203522,186.009354,25.139692,11.020634,34.410660,163.668076,48.470844,21.036896,11.760919,...,63.616196,5.414706,13.612413,17.789103,9.219024,4.424743,52.486279,129.154831,450.444672,38.414478
2019-07-05,203.842636,73.696480,186.482651,25.139692,11.020634,35.648453,164.627991,48.715652,21.229013,11.855008,...,64.834892,5.559743,13.420690,17.789103,9.268322,4.501695,52.720596,128.690247,444.669769,39.882545

In [194]:
from statistics import stdev

In [195]:
SD_SET50 = []
for i in alldata_1 :
    SD_SET50.append(stdev(alldata_1[i]))

In [196]:
# เช็คว่ารันครบมั้ยครับ
len(SD_SET50)

48

In [197]:
# ทำการ Transpose ข้อมูล (สลับแถวสลับหลัก) เพื่อให้ดูง่ายขึ้นครับ
newdata = alldata_1.T

In [198]:
newdata.head()

Date,2019-07-01,2019-07-02,2019-07-03,2019-07-04,2019-07-05,2019-07-08,2019-07-09,2019-07-10,2019-07-11,2019-07-12,...,2020-06-17,2020-06-18,2020-06-19,2020-06-22,2020-06-23,2020-06-24,2020-06-25,2020-06-26,2020-06-29,2020-06-30
Symbols,,,,,,,,,,,,,,,,,,,,,
ADVANC.BK,205.774811,204.808716,205.774811,204.808716,203.842636,204.808716,204.808716,209.639114,208.673050,204.808716,...,191.00,191.00,190.000000,190.50,190.00,188.000000,187.50,186.0,187.00,185.0
AOT.BK,73.203522,72.957047,73.942955,73.203522,73.696480,72.957047,72.464096,73.203522,72.710571,72.957047,...,63.25,61.75,61.500000,60.00,60.25,59.750000,59.00,59.0,59.25,60.5
BBL.BK,187.902588,186.955963,186.955963,186.009354,186.482651,186.955963,185.536057,186.955963,185.536057,186.009354,...,118.00,116.50,115.500000,105.00,106.00,107.500000,109.00,108.0,108.00,107.0
BDMS.BK,25.383766,25.139692,25.139692,25.139692,25.139692,24.895617,24.407467,24.895617,24.895617,24.212208,...,22.60,22.60,22.200001,22.40,22.50,22.299999,22.00,22.0,22.00,22.5
BEM.BK,11.118161,10.923106,11.020634,11.020634,11.020634,11.020634,10.923106,10.923106,10.728051,10.337939,...,9.75,9.85,9.900000,9.75,9.80,9.700000,9.55,9.5,9.50,9.5

In [199]:
newdata['SD'] = SD_SET50

In [202]:
newdata['SD'].head()

Symbols
ADVANC.BK    13.563951
AOT.BK        7.867795
BBL.BK       29.095178
BDMS.BK       1.851155
BEM.BK        1.055826
Name: SD, dtype: float64

ขั้นตอนนี้เราจะหา ราคาของหุ้นนั้นสูงขึ้น/ลดลงไปเท่าไหร่ในระยะเวลา 1 ปี นะครับ
growth_price = [(Price at 2020/06/30 - Price at 2019/07/01)/Price at 2019/07/01] *100 (เพื่อให้ข้อมูลมีค่าเป็นเปอร์เซ็นต์)

In [204]:
(alldata_1['ADVANC.BK']['2020-06-30'] - alldata_1['ADVANC.BK']['2019-07-01'])/alldata_1['ADVANC.BK']['2019-07-01']

-0.10095895951091152

In [205]:
growth_price = [] # growth_price as gp
for gp in alldata_1 :
    growth_price.append(((alldata_1[gp]['2020-06-30']-alldata_1[gp]['2019-07-01'])/alldata_1[gp]['2019-07-01']*100))

In [206]:
growth_price

[-10.095895951091153,
 -17.35370297569592,
 -43.05560066991577,
 -11.360671046655932,
 -14.554216044844518,
 49.0416288165558,
 -27.327532501773995,
 -20.514916126700662,
 -19.88400781174868,
 -2.160805194550624,
 46.13690192925752,
 -18.32410844415372,
 15.933010995084695,
 -32.32901154707409,
 -23.668572300226522,
 -28.570889065127613,
 -23.33803324643893,
 -4.782659973401405,
 17.076279443560914,
 -70.34783923462892,
 -9.405119385223157,
 -5.517762418462327,
 -47.58374617982643,
 -39.58306185354069,
 -48.042507114445996,
 -40.155527663473435,
 -29.202067568403333,
 -25.550191356690256,
 -50.769232619481805,
 -8.399045196205568,
 15.927963977333615,
 -20.048830637912822,
 -28.537971357324167,
 -26.12042857141987,
 -2.970546172648295,
 -22.406364302487802,
 -19.709216958301432,
 -39.555374326159935,
 -33.7424212774168,
 -39.37328022906868,
 -1.6443996576897268,
 -27.483696385815513,
 -17.95099303525911,
 -26.249997616711745,
 -7.732625683173336,
 -44.66205765611315,
 -19.33709196701086,
 0.11779849697572398]

In [207]:
newdata['Growth Price(%)'] = growth_price

In [208]:
newdata[['SD','Growth Price(%)']]

Date              SD  Growth Price(%)
Symbols
ADVANC.BK  13.563951       -10.095896
AOT.BK      7.867795       -17.353703
BBL.BK     29.095178       -43.055601
BDMS.BK     1.851155       -11.360671
BEM.BK      1.055826       -14.554216
BGRIM.BK    8.175344        49.041629
BH.BK      14.654408       -27.327533
BJC.BK      5.588261       -20.514916
BPP.BK      2.741613       -19.884008
BTS.BK      1.229673        -2.160805
CBG.BK      9.436038        46.136902
CPALL.BK    7.319847       -18.324108
CPF.BK      2.372596        15.933011
CPN.BK      8.337897       -32.329012
DTAC.BK     8.049959       -23.668572
EA.BK       5.596234       -28.570889
EGCO.BK    43.115239       -23.338033
GLOBAL.BK   1.933162        -4.782660
GPSC.BK    10.904838        17.076279
GULF.BK    54.067795       -70.347839
HMPRO.BK    1.830723        -9.405119
INTUCH.BK   5.555363        -5.517762
IRPC.BK     0.704775       -47.583746
IVL.BK      5.393927       -39.583062
KBANK.BK   28.364286       -48.042507
KTB.BK      2.348137       -40.155528
KTC.BK      5.032453       -29.202068
LH.BK       1.294882       -25.550191
MINT.BK     7.989599       -50.769233
MTC.BK      7.590913        -8.399045
OSP.BK      3.510200        15.927964
PTT.BK      4.774171       -20.048831
PTTEP.BK   19.900328       -28.537971
PTTGC.BK    8.470619       -26.120429
RATCH.BK    5.671649        -2.970546
TCAP.BK     6.055451       -22.406364
TISCO.BK    9.751976       -19.709217
TMB.BK      0.275256       -39.555374
TOP.BK     13.015430       -33.742421
TRUE.BK     1.042694       -39.373280
TTW.BK      0.445427        -1.644400
TU.BK       1.921710       -27.483696
VGI.BK      1.276945       -17.950993
WHA.BK      0.823065       -26.249998
SAWAD.BK    7.884763        -7.732626
SCB.BK     21.355805       -44.662058
SCC.BK     39.222480       -19.337092
TOA.BK      3.849083         0.117798

In [209]:
# มาถึงจุดที่เราต้องการละนะครับ หาความผันผวนต่อการเปลี่ยนแปลงของราคา ซึงเราต้องการค่าตัวนี้มากสุด 
# เพื่อ ที่จะเลือกซื้อหุ้นที่ผันผวนน้อยและมีการเติบโตที่เป็นบวกมากที่สุด
newdata['GrowthperSD'] = (newdata['Growth Price(%)']/newdata['SD'])

In [306]:
# มานับกันหน่อยว่าครบมั้ย
len(newdata['GrowthperSD'])

48

In [307]:
newdata['GrowthperSD'].head()

Symbols
ADVANC.BK    -0.744318
AOT.BK       -2.205663
BBL.BK       -1.479819
BDMS.BK      -6.137073
BEM.BK      -13.784678
Name: GrowthperSD, dtype: float64

In [308]:
focus_data = newdata[['Growth Price(%)','SD','GrowthperSD']]

What Should I buy and sell

In [309]:
focus_data.head()

Date       Growth Price(%)         SD  GrowthperSD
Symbols
ADVANC.BK       -10.095896  13.563951    -0.744318
AOT.BK          -17.353703   7.867795    -2.205663
BBL.BK          -43.055601  29.095178    -1.479819
BDMS.BK         -11.360671   1.851155    -6.137073
BEM.BK          -14.554216   1.055826   -13.784678

In [310]:
# ผมต้องการที่จะแยกหัวตารางคำว่า Date(พอดีตอนใช้ Datareader ดึงข้อมูลมาเลยติดคำว่า Date มาด้วยครับ) กับ Symbols ออกจากกัน
focus_data = focus_data.reset_index()

In [311]:
# แต่ตอนนี้ Date เป็นหัวตารางใน Index แทน
focus_data.head()

Date    Symbols  Growth Price(%)         SD  GrowthperSD
0     ADVANC.BK       -10.095896  13.563951    -0.744318
1        AOT.BK       -17.353703   7.867795    -2.205663
2        BBL.BK       -43.055601  29.095178    -1.479819
3       BDMS.BK       -11.360671   1.851155    -6.137073
4        BEM.BK       -14.554216   1.055826   -13.784678

In [312]:
# คร่าวนี้ผมจะเปลี่ยน ชื่อหัวตารางของ Index ซึง Date ให้ไม่มีชื่อ จึงใส่ค่า None ลงไปครับ หรือจะพิม '' ก็ได้เช่นกันครับ
focus_data = focus_data.rename_axis(None, axis='columns')

In [313]:
focus_data2 = focus_data.rename_axis('', axis='columns')

In [314]:
focus_data.head()

     Symbols  Growth Price(%)         SD  GrowthperSD
0  ADVANC.BK       -10.095896  13.563951    -0.744318
1     AOT.BK       -17.353703   7.867795    -2.205663
2     BBL.BK       -43.055601  29.095178    -1.479819
3    BDMS.BK       -11.360671   1.851155    -6.137073
4     BEM.BK       -14.554216   1.055826   -13.784678

In [315]:
focus_data2.head()

     Symbols  Growth Price(%)         SD  GrowthperSD
0  ADVANC.BK       -10.095896  13.563951    -0.744318
1     AOT.BK       -17.353703   7.867795    -2.205663
2     BBL.BK       -43.055601  29.095178    -1.479819
3    BDMS.BK       -11.360671   1.851155    -6.137073
4     BEM.BK       -14.554216   1.055826   -13.784678

In [317]:
print('I should buy since 01/07/2019')
focus_data.nlargest(5,'GrowthperSD')

I should buy since 01/07/2019

     Symbols  Growth Price(%)         SD  GrowthperSD
12    CPF.BK        15.933011   2.372596     6.715435
5   BGRIM.BK        49.041629   8.175344     5.998724
10    CBG.BK        46.136902   9.436038     4.889436
30    OSP.BK        15.927964   3.510200     4.537623
18   GPSC.BK        17.076279  10.904838     1.565936

In [318]:
print('I should not buy since 01/07/2019')
focus_data.nsmallest(5,'GrowthperSD')

I should not buy since 01/07/2019

    Symbols  Growth Price(%)        SD  GrowthperSD
37   TMB.BK       -39.555374  0.275256  -143.704163
22  IRPC.BK       -47.583746  0.704775   -67.516189
39  TRUE.BK       -39.373280  1.042694   -37.761112
43   WHA.BK       -26.249998  0.823065   -31.892967
27    LH.BK       -25.550191  1.294882   -19.731671